<footer id="setFooterData">
    <div class="container-fluid">
    
    <!-- <div class="row ft-exp  pt10 pb10 top-nav-bdr">
    <div class="col-md-12"><img src="images/report_explore.png" alt="ONGC" /></div>
    </div> -->
    
    <div class="row ft-exp pb20">
    
    <div class="col-md-3">
    <div class="ml-10 mr-10">
            
            <div class="foot_row">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#" title="Media">Link</a></li>
                    <li class="list-group-item"><a href="#" title="Link">Link</a>
                        <li class="list-group-item"><a href="#" title="Link">Link</a>
    </li>
   
                </ul>
            </div>
            
 
    </div>
    </div>
    <div class="col-md-3">
        <div class="ml-10 mr-10">
                
                <div class="foot_row">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#" title="Media">Link</a></li>
                        <li class="list-group-item"><a href="#" title="Link">Link</a>
                            <li class="list-group-item"><a href="#" title="Link">Link</a>
        </li>
       
                    </ul>
                </div>
                
     
        </div>
        </div>
        <div class="col-md-3">
            <div class="ml-10 mr-10">
                    
                    <div class="foot_row">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#" title="Media">Link</a></li>
                            <li class="list-group-item"><a href="#" title="Link">Link</a>
                                <li class="list-group-item"><a href="#" title="Link">Link</a>
            </li>
           
                        </ul>
                    </div>
                    
         
            </div>
            </div>
            <div class="col-md-3">
                <div class="ml-10 mr-10">
                        
                        <div class="foot_row">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#" title="Media">Link</a></li>
                                <li class="list-group-item"><a href="#" title="Link">Link</a>
                                    <li class="list-group-item"><a href="#" title="Link">Link</a>
                </li>
               
                            </ul>
                        </div>
                        
             
                </div>
                </div>
    
    </div>
    
    <div class="row ft-exp ftLink pt20" id="footer-stories">
    <div class="text-center">&copy; Copyright XYX <br>Last Updated On <span id="lastUpDated">23 April 2021</span></div>
    </div>
    </div>
    </footer>